/* RESET */
body, div, span, input, button, h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* PAGE */
body {
  background: #111;
  color: #ddd;
  padding: 20px;
}

/* MAIN CONTAINER */
.container {
  max-width: 420px;
  margin: 0 auto;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.55);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}

/* INPUTS */
.label {
  display: block;
  margin-bottom: 6px;
  color: #aaa;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 12px;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0 20px;
}

/* BUTTONS */
.btn-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


/* button {
  padding: 10px 20px;
  background: #333;
  border: 1px solid #777;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #ddd;
  transition: .2s;
} */

/* button:hover {
  background: #444;
} */

/* RESULTS */
.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.value {
  font-weight: bold;
  font-size: 18px;
}

/* COLORS */
.good {
  color: #00ad59;
}

.bad {
  color: #ce1338;
}
@keyframes pulseFont {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

#pnl {
  color: #00ad59;  
  font-size: 22px;
}

.pulse {
  display: inline-block;
  animation: pulseFont 0.25s ease-in-out;
}
